.contenedor {
  background-color: #269ec2;
  height: 100vh;
  width: 100%;
  text-align: center;
  padding: 2rem;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titulo {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem; /* reduce para subir los botones */
}

.opciones {
  bottom: -40px; /* baja el micrófono */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30rem;
  flex-grow: 1;
  position: relative;
  margin-top: 1rem; /* sube todo el grupo */
}

.cuadro {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  padding: 1.5rem;
  width: 200px;
  cursor: pointer;
  transition: transform 0.2s;
}

.cuadro:hover {
  transform: scale(1.05);
}

.icono {
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
}

.microfono {
  position: absolute;
  bottom: 35px; /* baja el micrófono */
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.microfono img {
  width: 100px;
  height: 100px;
}

/* Responsivo */
@media (max-width: 768px) {
  .opciones {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }

  .cuadro {
    width: 80%;
  }

  .microfono {
    bottom: -30px;
  }

  .microfono img {
    width: 80px;
    height: 80px;
  }

  .titulo {
    font-size: 2.5rem;
  }
}
